/* style */
#Main{
    width: 70%;
}
#dance{
    width: 100%
}
#me8{
    width: 80%;
}
.hero{
    width: 80%;
    position: relative;
}

#navbarNav{
    display: flex; 
    justify-content: center;
  list-style: none; 
  background: transparent;
}
#img{
    width: 50%;
}
.container2{
    background-color: #802306;
    padding: 150px 0px;
    display: grid;
    margin: 0 auto;
    grid-column-gap: 50px;
}
.container-fluid{
    background-color: aliceblue;
    padding: 150px 0px;
    display: grid;
    margin: 0 auto;
    grid-column-gap: 50px;
}
.container0{
    background: url('');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 150px 0px;
    display: grid;
    margin: 0 auto;
    grid-column-gap: 50px;
}
footer {
    background-color: #EBDAD0;
    box-shadow: 0px 0px 10px #dcdcdc;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }